body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.startbutton {
  border: 0.3vw solid darkblue;
  outline: 0.3vw inset rgb(1, 1, 83);
  box-shadow: inset 0 0 10px;
  background-color: green;
  color: rgb(15, 14, 14);
  font-size: 1vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 10vw;
  height: 5vh;
  transform: skew(-20deg);
  cursor: pointer;
}
.startbox {
  padding: 1vh 1vw 0vh 1vw;
  border: 0.4vw solid rgb(2, 37, 2);
  height: 30vh;
  width: 40vw;
  overflow: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: green;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.textbox {
  border: 0.3vw solid darkblue;
  outline: 0.3vw inset rgb(1, 1, 83);
  margin: 0vh 1vw 1vh 1vw;
  background-color: green;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(15, 14, 14);
}
.textbox:focus {
  background-color: darkgreen;
  outline: 0.3vw outset rgb(1, 1, 83);
}
.background {
  background: black;
  height: 100vh;
  width: 100vw;
  position: relative;
}
.startbox::-webkit-scrollbar {
  display: none;
}
.gamebox {
  padding: 1vh 1vw 1vh 1vw;
  height: 2vh;
  cursor: pointer;
  border: 0.1vw solid rgb(3, 77, 3);
  outline: 0.1vw solid rgb(2, 37, 2);
  text-align: center;
  margin: 0vh 0vw 2vh 0vw;
  font-size: 13px;
  font-family: 'Courier New', Courier, monospace;
}
.gamebox:hover {
  border: 0.1vw inset rgb(3, 77, 3);
  outline: 0.1vw outset rgb(2, 37, 2);
  background-color: rgb(0, 7, 0);
  font-weight: bold;
}
.startbutton:hover {
  background-color: darkgreen;
  outline: 0.3vw outset rgb(1, 1, 83);
}
.tobeadded {
  border: 0.3vw solid darkslategray;
  outline: 0.3vw inset rgb(23, 39, 39);
  box-shadow: inset 0 0 10px;
  background-color: gray;
  color: rgb(15, 14, 14);
  font-size: 1vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 10vw;
  height: 5vh;
  transform: skew(-20deg);
  cursor: pointer;
}
.tobeadded:hover {
  background-color: rgb(75, 75, 75);
  outline: 0.3vw outset rgb(23, 39, 39);
}
.multiplayerbutton {
  border: 0.3vw solid darkblue;
  outline: 0.3vw inset rgb(1, 1, 83);
  box-shadow: inset 0 0 10px;
  background-color: green;
  color: rgb(15, 14, 14);
  font-size: 1vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 25vw;
  height: 5vh;
  transform: skew(-20deg);
  cursor: pointer;
}
.multiplayerbutton:hover {
  background-color: darkgreen;
  outline: 0.3vw outset rgb(1, 1, 83);
}